<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator, because why not?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="logo">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Calculator Logo">
    </div>
    
    <form action="/calculate" method="post">
        <input type="text" name="expression" step="any" placeholder="   Expression..." required value="{{ expression if expression is not none else '' }}" autocomplete="off" >
        <button type="submit">Calculate</button>
    </form>

    {% if result is not none %}
        <h2>Result: {{ result }}</h2>
    {% endif %}

    {% if error %}
        <h2>Error: {{ error }}</h2>
    {% endif %}
</body>
</html>
